* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.conteiner {
  background-image: url("../src/assets/img/notes.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
img {
  width: 15%;
}
/* ----- design banner ----- */
.container-banner {
  background: #0955a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 10%;
  height: 23vh;
}
.search-icon {
  position: relative;
  float: right;
  width: 350px;
}
#search {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  margin-right: 35px;
}
.icon {
  color: rgb(156, 156, 158);
  top: 140%;
  transform: translateY(-140%);
}
.banner {
  height: 100%;
}

/*#faMagnifyingGlass {
  display: flex;
  max-width: 100px;
  color: rgb(156, 156, 158);
  float: right;
}*/
/* ------- design options --------*/
.conteiner-option {
  flex-direction: column;
  max-width: 100%;
}
.menu {
  background-color: rgb(191, 180, 192);
  height: 100vh;
  justify-content: space-between;
}
.create {
  margin-left: 10px;
}
.notes {
  margin-left: 10px;
}
.bin {
  margin-left: 10px;
}
.settings {
  margin-left: 10px;
}
.user {
  margin-left: 10px;
}

Link {
  text-decoration: none;
}
.optionForm {
  display: flex;
  justify-content: space-between;
}
/* ------ pagina inicial ------- */
.conteiner-start {
  border-style: solid;
  text-align: center;
  border-color: rgb(251, 254, 216);
  border-radius: 20px;
  width: 350px;
  height: 500px;
  margin-top: 60px;
}
.conteiner-start::after {
  content: "";
  background-color: rgb(236, 238, 246);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.logo {
  max-width: 500px;
}
#logo-inicio {
  width: 320px;
}
.user-identify {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
}
/* ------- Login -------- */

#logo-login {
  width: 200px;
  display: block;
  margin: 0px auto;
}
.conteiner-login {
  border-style: solid;
  border-color: rgb(251, 254, 216);
  border-radius: 20px;
  width: 350px;
  height: 500px;
  margin-top: 60px;
}
.paragraph1 {
  color: rgb(255, 193, 7);
}
.paragraph2 {
  color: white;
}
.navSignup {
  color: rgb(255, 193, 7);
  text-decoration: none;
}
.facebook-button {
  border-radius: 15px;
  background-color: rgb(77, 68, 187);
  border-color: rgb(77, 68, 187);
  width: 300px;
  color: white;
}
.google-button {
  border-radius: 15px;
  background-color: rgb(114, 56, 135);
  border-color: rgb(114, 56, 135);
  width: 300px;
  color: white;
}
.login-button {
  background: none;
  color: purple;
  border: solid rgb(251, 254, 216);
  border-radius: 10px;
  width: 100px;
}
.login {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#correo {
  border: solid rgb(251, 254, 216);
  border-radius: 10px;
  background: rgb(251, 254, 216);
  color: rgb(156, 156, 158);
}
#contraseña {
  border: solid rgb(251, 254, 216);
  border-radius: 10px;
  background: rgb(251, 254, 216);
  color: rgb(156, 156, 158);
}

/* ------- sign up ---------- */

.conteiner-signup {
  border: solid rgb(251, 254, 216);
  border-radius: 20px;
  width: 350px;
  height: 500px;
  margin-top: 60px;
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signlogo {
  width: 180px;
  height: 160px;
  display: block;
  margin: 0px auto;
  padding-top: 10px;
}
.button-sign {
  border-radius: 15px;
  background-color: rgb(77, 68, 187);
  border-color: rgb(77, 68, 187);
  width: 250px;
  height: 40px;
  color: white;
}
.p-count {
  color: white;
  margin-top: 10px;
}
/* ------- createNotes ------ */
.notesCreate {
  border-style: solid;
  border-radius: 10px;
  width: 400px;
  background-color: rgb(251, 254, 216);
  margin-left: 50px;
}
