* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.conteiner {
  background-image: url("../src/assets/img/notes.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
img {
  width: 15%;
}
.register {
  display: flex;
}
/* ----- design banner ----- */
.container-banner {
  background: #0955a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 10%;
  height: 23vh;
}

#search {
  margin-right: 35px;
  border-radius: 10px;
  width: 350px;
  height: 30px;
  text-align: center;
  float: right;
  margin-top: 100px;
}

.banner {
  height: 30%;
}

#faMagnifyingGlass {
  display: flex;
  max-width: 100px;
  color: rgb(156, 156, 158);
  float: right;
}
/* ------- design options --------*/
.conteiner-option {
  flex-direction: column;
  max-width: 80%;
}
.menu {
  background-color: rgb(191, 180, 192);
  margin-top: 98px;
  max-width: 300px;
  height: 100vh;
  justify-content: space-between;
}
.create {
  margin-left: 10px;
}
.notes {
  margin-left: 10px;
}
.bin {
  margin-left: 10px;
}
.settings {
  margin-left: 10px;
}
.user {
  margin-left: 10px;
}

Link {
  text-decoration: none;
}
/* ------ pagina inicial ------- */
.conteiner-start {
  justify-content: center;
  border-style: solid;
  text-align: center;
  border-color: rgb(251, 254, 216);
  border-radius: 20px;
  width: 350px;
  height: 450px;
}

.logo {
  max-width: 500px;
}
#logo-inicio {
  width: 320px;
}
/* ------- createNotes ------ */
.notesCreate {
  border-style: solid;
  max-width: 400px;
  background-color: rgb(251, 254, 216);
  margin: 0 auto;
}
