* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.conteiner {
  background-image: url("../src/assets/img/notes.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
img {
  width: 15%;
}
.register {
  display: flex;
}
/* ----- design banner ----- */
.container-banner {
  background-color: rgb(5, 14, 95);
  background-size: 10%;
  height: 23vh;
}

#search {
  margin-right: 35px;
  border-radius: 10px;
  width: 350px;
  height: 30px;
  text-align: center;
  float: right;
  margin-top: 100px;
}

.banner {
  height: 30%;
}

#faMagnifyingGlass {
  display: flex;
  max-width: 100px;
  color: rgb(156, 156, 158);
  float: right;
}
/* ------- design options --------*/
.conteiner-option {
  flex-direction: column;
}
.menu {
  background-color: rgb(191, 180, 192);
  margin-top: 99px;
  max-width: 300px;
  height: 100vh;
  justify-content: space-between;
}
.create {
  margin-left: 10px;
}
.notes {
  margin-left: 10px;
}
.bin {
  margin-left: 10px;
}
.settings {
  margin-left: 10px;
}
.user {
  margin-left: 10px;
}
